/* font-family: 'Passion One', cursive;
font-family: 'Roboto', sans-serif; */

body {
  background-color: black;
  left: 0;
  top: 0;
  font-family: 'Roboto', sans-serif;
  color: white;
}

/* H E A D E R */

#header-container {
  width: 100vw;
  height: 10vh;
  top: 0;
  left: 0;
  overflow: hidden;
  position: sticky;
  background-color: black;
  display: flex;
}

#header-title {
  margin-left: 15vw;
  margin-right: 15vw;
  color: plum;
}

h1 {
  font-family: 'Passion One', cursive;
  font-weight: 400;
}

/* N A V */

.nav-btn {
  margin: 1em;
  padding: .2em;
  text-decoration: none;
  border-bottom: 2px solid white;
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.nav-btn:hover {
  color: plum;
  border-bottom: 2px solid plum;
}

#nav-container {
  width: 50vw;
}

#nav-links {
  display: flex;
  flex-direction: row;
}

/* L A N D I N G */

.section-container {
  width: 100vw;
  height: 85vh;
  position: static;
}

.section-content-container {
  width: 80vw;
  height: 85vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#threejs-logo {
  min-width: 50%;
  max-width: 50%;
  background-color: lightblue;
}

#landing-img {
  width: 90%;
  margin: 5%;
}

#greeting-container {
  min-width: 50%;
  max-width: 50%;
  background-color: black;
  color: white;
}

#greeting-container-heading {
  margin-top: 2em;
  margin-left: 2em;
  font-size: 3rem;
}

#greeting-container-text {
  margin-left: 2em;
  font-size: 1.5em;
  color: white;
}

#purple-text {
  color: plum;
  font-size: 2rem;
  font-weight: 700;
}

/* F O O T E R */

#footer-container {
  background-color: pink;
  height: 10vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
}