body {
  position: absolute;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: grey;
  color: white;
}

header {
  width: 100vw;
  height: 20vh;
  background-color: black;
}